<div class="form-horizontal" role="form">
  <%= form_for @message do |f| %>
    <% if @message.errors.present? %>
      <div class="alert alert-danger">
        <%= alert %>
        <ul>
          <% @message.errors.full_messages.each do |full_message| %>
            <li>
              <%= full_message %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <div class="row">
        <label for="InputName" class="col-sm-offset-3 col-sm-1 control-label text-right">名前</label>
        <div class="col-sm-8">
          <%= f.text_field :name, id: "InputName", class: "form-control form_naco", placeholder: "name" %>
        </div>
      </div> <!-- row -->
    </div> <!-- form-group -->

    <div class="form-group">
      <div class="row">
        <label for="InputComment" class="col-sm-offset-3 col-sm-1 control-label text-right">内容</label>
        <div class="col-sm-8">
          <%= f.text_area :body, id: "InputComment", class: "form-control form_naco", cols: 10, rows: 5, placeholder: "comment"%>
        </div>
      </div> <!-- row -->
    </div> <!-- form-group -->

    <div class="form-group">
      <div class="row">
        <label for="InputAge" class="col-sm-offset-3 col-sm-1 control-label text-right">年齢</label>
        <div class="col-sm-8">
          <%= f.number_field :age, id: "InputAge", class: "form-control form_age", min: "0", max: "150" %>
        </div>
      </div> <!-- row -->
    </div> <!-- form-group -->

    <div class="form-group sub_btn">
      <div class="row">
        <div class="col-sm-offset-6 col-sm-6">
          <%= f.submit class: "btn btn-primary" %>
        </div>
      </div> <!-- row -->
    </div> <!-- form-group sub_btn-->
  <% end %>
</div> <!-- form-horizontal -->
