<div class="panel">
  <div class="panel-heading">
    <h4>メッセージ一覧</h4>
  </div>


  <div class="panel-body">
    <% @messages.each do |message| %>
    <div class="line_height">
      <span class="label label-info"><%= message.name %></span><span class="age">（年齢：<%= message.age %>）</span>：
      <%= message.body %>
        <span class="pull-right">
          <span class="btn btn-default btn-sm">
            <%= link_to "edit", edit_message_path(message), class: "btn_edit"%>
          </span>
          <span class="btn btn-default btn-sm">
            <%= link_to "destroy", message, method: :delete, data: { confirm: '削除してもよろしいですか？' }, class: "btn_destroy"%>
          </span>
        </span>
      <br>
    </div> <!-- line_height -->
    <% end %>
  </div> <!-- panel-body -->
</div> <!-- panel -->

<%= render 'form' %>
