<div class="panel">
  <div class="panel-heading">
    <h4>メッセージ一覧</h4>
  </div>


  <div class="panel-body">
    <% @messages.each do |message| %>
    <div class="line_height">
      <span class="label label-info"><%= message.name %></span> ：
      <%= message.body %>
      [<%= link_to "edit", edit_message_path(message) %>]
        <%= link_to "destroy", message, method: :delete, data: { confirm: '削除してもよろしいですか？' } %>
      <br>
    </div>
    <% end %>
  </div> <!-- panel-body -->
</div> <!-- panel -->

<%= render 'form' %>
